body {
  font-family: "Serif", serif;
  background-color: #f4f6f9;
}

/* Sidebar */
.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #1f2937;
  padding: 20px;
  position: fixed;
}

.sidebar .logo {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #2563eb;
  color: #fff;
}

/* Main Content */
.content {
  margin-left: 230px;
  width: 100%;
}

/* Cards */
.card-style {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
